click==7.1.2
Flask==1.1.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==1.0.1
SVC
sklearn
numpy
python-whois
bs4
gunicorn==20.1.0
requests
python-dateutil
tldextract
python-csv
flask-cors
CORS
jsonify
joblib